// @import url("../../utils.scss");

.checkout_container {
    margin: 60px auto;
    padding: 40px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 24px;
    display: flex;
    gap: 60px;

    .cart_info{
        .cart-table{
            border-radius: 200px;
        }
    }

    .checkout_form {
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0;

        .payment-radio{
            input{
                width: 16px;
                margin: 0;
            }

            label{
                margin: 0 0 0 10px;
                font-size: 14px;
            }
        }

        // button{
        //     padding: 12px 24px;

        //     // &:hover{
        //     //     background-color: #64b0b2;
        //     // }
        // }
    }
}
